{
    "presets": [
        "env",
        "react"
    ],
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "Actions": "./src/actions",
                    "Applicant": "./src/components/applicant",
                    "Application": "./src/components/application",
                    "Core": "./src/components/core",
                    "Firebase": "./src/firebase",
                    "Notification": "./src/components/notification",
                    "Position": "./src/components/position",
                    "PositionWatch": "./src/components/positionWatch",
                    "Reducers": "./src/reducers",
                    "Selectors": "./src/selectors",
                    "Shared": "./src/components/shared",
                    "Src": "./src",
                    "Styles": "./src/styles",
                    "Tools": "./src/tools",
                    "User": "./src/components/user",
                    "Universal": "./src/components/universal"
                }
            }
        ]
    ]
}
