//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
    .document_selection_list {
        background: white;
        border: 1px solid $midLightGrey;
        margin: $medium;
        &.empty {
            font-family: $secondaryFont;
            font-size: $midlarge;
            padding: $large 0;
            text-align: center;
        }
    }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: $mediumScreen) {}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: $largeScreen) {
    .document_selection_list {
        max-width: 100rem;
    }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: $xlargeScreen) {}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: $xxlargeScreen) {}
