//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
    .position_list_widget_header {
        background: white;
        border: 1px solid darken(white, 7%);
        color: $darkGrey;
        display: flex;
        font-size: $medium;
        font-weight: bold;
        justify-content: space-between;
        padding: $small $medium;
    }
    .position_list_widget_body {
        font-size: $medium;
        margin-bottom: $medium;
    }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: $mediumScreen) {}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: $largeScreen) {
    .position_list_widget_body {
        margin-bottom: $large;
    }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: $xlargeScreen) {}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: $xxlargeScreen) {}
