//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
    #user_profile_container {
        background-color: $lightGrey;
        display: flex;
        flex-flow: column;
        padding: $large;
        padding-bottom: $small;
    }
    .user_widget {
        margin-bottom: $medium;
    }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: $mediumScreen) {}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: $largeScreen) {
    #user_profile_container {
        flex-flow: row wrap;
    }
    .user_widget {
        margin-right: $medium;
    }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: $xlargeScreen) {}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: $xxlargeScreen) {}
