//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
    .user_name_widget {
        background: white;
        border: 1px solid $midLightGrey;
        display: grid;
        grid-gap: $small;
        padding: $medium;
        &__display_name {
            &_title {
                font-family: $secFont;
                font-size: $medium;
                margin-bottom: $xsmall;
            }
            &_inputs {
                display: grid;
            }
        }
        &__legal_name {
            &_title {
                font-family: $secFont;
                font-size: $medium;
                margin-bottom: $xsmall;
            }
            &_inputs {
                display: grid;
                grid-gap: $small;
            }
        }
        &__button {
            display: grid;
            margin-top: $small;
            width: 100%;
        }
    }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: $mediumScreen) {}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: $largeScreen) {
    .user_name_widget {
        max-width: 50rem;
        &__button {
            display: inline-block;
            margin-top: $small;
        }
    }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: $xlargeScreen) {}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: $xxlargeScreen) {}
