//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
    #user_name_widget {
        background: white;
        border: 1px solid $midLightGrey;
        padding: $medium;
    }
    .user_name_legal_inputs {
        font-family: $secFont;
    }
    .user_name_input {
        display: flex;
    }
    .user_name_content_title {
        font-family: $secFont;
        font-size: $medium;
    }
    .user_name_widget_button {
        display: flex;
        justify-content: center;
    }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: $mediumScreen) {}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: $largeScreen) {
    #user_name_widget {
        max-width: 70rem;
    }
    .user_name_legal_inputs {
        display: flex;
        flex-direction: row;
    }
    .user_name_content_title {
        margin: $xsmall;
    }
    .user_name_widget_button {
        justify-content: flex-start;
    }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: $xlargeScreen) {}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: $xxlargeScreen) {}
