//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
    #applicant_process_container {
        align-content: center;
        display: flex;
        flex: 1;
        flex-flow: column;
        justify-content: center;
    }
    .applicant_process_container__instructions {
        font-family: $mainFont;
        font-size: $medium;
        padding: $small;
    }
    .applicant_process_container__status_change_note {
        padding: 0 $medium;
    }
    .applicant_process_container__select {
        padding: $small $medium;
    }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {}
