//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
    .applicants_container {
        background-color: $lightGrey;
        display: flex;
        justify-content: center;
        padding: $large;
    }
    .applicants_widget {
        display: flex;
        flex-grow: 1;
        height: 60rem;
        max-width: 100rem;
    }
    .applicants_list_wrapper {
        background-color: white;
        border: 1px solid $midLightGrey;
        border-right: None;
        display: flex;
        flex-flow: column;
        flex-grow: 1;
        input {
            border: none;
            border-bottom: 1px solid $midLightGrey;
            margin: 0;
        }
    }
    .applicant_details_wrapper {
        background-color: white;
        border: 1px solid $midLightGrey;
        display: flex;
        flex-basis: 70%;
        flex-flow: column;
        flex-grow: 1;
        justify-content: space-around;
    }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {}
