//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
    .application_review_container {
        margin-top: $medium;
    }
    .application_review_container__user_documents {
        padding: $medium;
        padding-bottom: 0;
    }
    .application_review_container__wrapper {
        padding: 0 $medium;
    }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: $mediumScreen) {}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: $largeScreen) {
    .application_review_container__user_documents {
        max-width: 100rem;
        padding: $large 0 0 $large;
    }
    .application_review_container__wrapper {
        padding: 0 $large;
    }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: $xlargeScreen) {}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: $xxlargeScreen) {}
