//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
    .application_progress_buttons_widget {
        display: flex;
        justify-content: center;
        padding: 0 $medium;
    }
    .application_progress_buttons_wrapper {
        background-color: white;
        border: 1px solid $midLightGrey;
        display: flex;
        flex: 1;
        justify-content: center;
        padding: $medium 0;
        .button {
            margin: $xsmall;
            padding: $small;
        }
    }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: $mediumScreen) {}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: $largeScreen) {
    .application_progress_buttons_widget {
        max-width: 45rem;
        padding: $medium $large 0;
    }
    .application_progress_buttons_wrapper {
        .button {
            margin: $xsmall;
            padding: $small $medium;
        }
    }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: $xlargeScreen) {}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: $xxlargeScreen) {}
