//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
    * {
        box-sizing: border-box;
        font-family: $mainFont;
    }
    html {
        font-size: 62.5%;
    }
    body {
        left: 0;
        overflow-x: hidden;
        position: relative;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
    }
    button,
    input,
    select,
    textarea {
        font-family: $mainFont;
    }
    button {
        cursor: pointer;
        margin-top: $xsmall;
    }
    .button {
        background-color: $mainColor;
        border: none;
        color: white;
        font-size: $medium;
        padding: $small $medium;
        &:hover {
            background: $secColor;
            transition: background .3s ease-in-out;
        }
    }
    .button:disabled {
        opacity: 0.5;
    }
    .select {
        border: 1px solid $midGrey;
        font-size: $small;
        padding: $xsmall;
    }
    .text_input {
        border: 1px solid $midLightGrey;
        font-size: $medium;
        margin: $xsmall 0;
        padding: $small;
        width: 100%;
    }
    .text_input_error {
        border: 2px solid red;
    }
    .nav_link {
        background: $mainColor;
        color: white;
        font-size: $medium;
        margin: $small;
        padding: $small;
        text-align: center;
        text-decoration: none;
        &:hover {
            background: $secColor;
            transition: background .3s ease-in-out;
        }
    }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: $mediumScreen) {}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: $largeScreen) {
    .button {
        margin: $xsmall;
    }
    .text_input {
        margin: $xsmall;
    }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: $xlargeScreen) {}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: $xxlargeScreen) {}
