//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
    .inbox_container {
        display: grid;
        min-height: 90vh;
    }
    .inbox_widget {
        display: grid;
    }
    .inbox_list {
        background-color: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
        display: grid;
        grid-template-rows: 0.5fr 10fr;
        height: 100%;
        input {
            border: none;
            border-bottom: 1px solid $midLightGrey;
            margin: 0;
        }
        .nav_link {
            margin: 0;
        }
    }
    .inbox_details {
        display: grid;
        grid-gap: $small;
        height: 100%;
        padding: $small;
    }
    .inbox_details_header {
        align-content: center;
        background-color: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
        color: $darkMainColor;
        display: grid;
        font-family: $secFont;
        grid-template-rows: 1fr auto 1fr;
        padding: $small;
        text-align: center;
        &__mobile_button {
            margin: 0 auto $small;
            width: 50%;
        }
        &__title {
            font-size: $midlarge;
            font-weight: 600;
            margin-bottom: $small;
        }
        &__job_id {
            font-size: $medium;
            margin-bottom: $small;
        }
        &__location {
            align-content: center;
            display: grid;
            font-size: $medium;
            text-align: center;
        }
        &__apply {
            display: grid;
            justify-content: center;
            margin-top: $small;
        }
    }
    .inbox_details_content {
        align-items: center;
        background-color: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
        display: flex;
        flex-flow: column;
        overflow-y: auto;
        padding: $medium;
        &__link {
            font-size: $medium;
            margin: 0 25% $small;
        }
    }
    .inbox_mobile {
        display: none;
    }
}

//Medium screens - TABLET
//min-width 641px, medium screens
@media only screen and (min-width: 40.063em) {}

//Large screens - DESKTOP
//min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
    .inbox_mobile {
        display: inherit;
    }
    .inbox_container {
        display: grid;
        min-height: 94vh;
        padding: $small 5%;
    }
    .inbox_widget {
        display: grid;
        grid-gap: $small;
        grid-template-columns: 20% 80%;
    }
    .inbox_details {
        padding: 0;
        &__empty {
            align-content: center;
            background-color: white;
            box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
            display: grid;
            font-size: $midlarge;
            height: 100%;
            justify-content: center;
        }
    }
    .inbox_details_header {
        align-content: center;
        background-color: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
        color: $darkMainColor;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        padding: $small $medium;
        &__mobile_button {
            display: none;
        }
        &__content,
        &__location {
            text-align: left;
        }
        &__apply {
            justify-content: right;
        }
    }
}

//XLarge screens
//min-width 1441px, xlarge screens
@media only screen and (min-width: 90.063em) {}

//XXLarge screens
//min-width 1921px, xlarge screens
@media only screen and (min-width: 120.063em) {}

/*
.inbox_container {
    display: grid;
    min-height: 90vh;
    padding: $small 5%;
}

.inbox_widget {
    display: grid;
    grid-gap: $small;
    grid-template-columns: 20% 80%;
}

.inbox_details {
    display: grid;
    grid-gap: $small;
    grid-template-rows: 0.5fr 3fr;
    height: 90vh;
}

.inbox_details_empty {
    align-content: center;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
    display: grid;
    font-size: $midlarge;
    height: 100%;
    justify-content: center;
}

.inbox_list {
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
    display: grid;
    grid-template-rows: 0.5fr 10fr;
    height: 100%;
    input {
        border: none;
        border-bottom: 1px solid $midLightGrey;
        margin: 0;
    }
    .nav_link {
        margin: 0;
    }
}

.inbox_details_header {
    align-content: center;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
    color: $darkMainColor;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: $small $medium;
}

.inbox_details_header {
    font-family: $secFont;
    font-size: $medium;
    &__title,
    &__display_name {
        font-weight: 600;
        font-size: $midlarge;
        margin-bottom: $small;
    }
    &__job_id,
    &__legal_name,
    &__display_phone_number {
        margin-bottom: $xsmall;
    }
    &__email {
        word-break: break-all;
    }
    &__contact {
        align-content: center;
        display: grid;
        justify-content: flex-end;
    }
}

.inbox_details_content {
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
    padding: $large;
    overflow-y: auto;
}
*/
