//Site Colors
$mainColor: #135ba3;
$darkMainColor: darken($mainColor, 20);
$secColor: #009fc4;
// Colors
$lightGrey: #f5f7fa;
$midLightGrey: #e8e8e8;
$midGrey: #666666;
$grey: #444444;
$darkGrey: #222222;
$fontGrey: rgba(0, 0, 0, .7);
$closeIconGrey: #aaa;
//Spacing
$xxsmall: 0.3rem;
$xsmall: 0.6rem;
$small: 1.2rem;
$medium: 1.6rem;
$midlarge: 2.4rem;
$large: 3.2rem;
$xlarge: 4.8rem;
$xxlarge: 7.6rem;
$notificationListHorizontalPosition: 50px;
$notificationListVerticalPosition: 60px;
$notificationListWidth: 240px;
//Font Imports
@import url('../fonts/Coolvetica.scss');
@import url('../fonts/Ubuntu.scss');
//Font Variables
$coolveticaFont: "Coolvetica";
$ubuntuLightFont: "UbuntuLight";
$ubuntuFont: "Ubuntu";
//Site Fonts
$mainFont: $ubuntuFont;
$secFont: $ubuntuLightFont;
$accentFont: $coolveticaFont;
//CSS Breakpoints
$mediumScreen: 40.063rem;
$largeScreen: 64.063rem;
$xlargeScreen: 90.063rem;
$xxlargeScreen: 120.063rem;
//Navbar width
$navHeaderMobileHeight: 10vh;
$navHeaderDesktopHeight: 6vh; //If this is changed, inbox_container min-height needs to be updated
$navMenuWidth: 240px;
//Inbox settings
